/*
*BZ00017            050621     Create validaton for Yup to login user
*BZ00034            130621     Responsive for login user pages
************************************************************************
*/
#homeSignUp{
    background: #223A47;
    .homeSignUpForBorder{
        display: grid;
        grid-template-rows: 1fr  1fr;
        padding: 0px;
        .titleHolder{
            display: grid;
            grid-template-rows: 1fr  1fr;
            text-align: center;
            h2{
                color: white; 
                text-align: center;
            }
            span{
                font-family: 'Pacifico';
                color: #FFB5A6;
            }
        }
    .container{
        text-align: left;
        position: initial;
        .containerForm{
            display: grid;
            grid-template-rows: 1fr 1fr;
            .containerFormEmail{
                display: grid;
                grid-template-rows: 1fr 1fr;
                input{         
                    color: black;
                    height: auto;
                    min-height: auto;
                    line-height: initial;
                    position: relative;
                    display: flex;
                    background: #2c3e50;
                    overflow: hidden;
                    border-radius: .25em;
                    
                    }
                    label{
                    font-family: "Fredericka the Great";
                    cursor: pointer;
                    color: #f27257;
                    transition: ease  0.25s all ;
                    }
            }
        }
        .containerFormButton{
            height: 6em;
            padding: 1em;
            text-align: center;
        }
        }

    }
    // padding-bottom: 300px;
    // .titleHolder{
    //     width: 100%;
    //     padding-bottom: 60px;
    //     border-bottom: 1px solid rgba($color:#223A47, $alpha: 0.5);
    //     margin-bottom: 60px;
          
    
    // h2{
    //    color: white; 
    //    margin-top: 0px;
    //    margin-bottom: 8px;
    // //    padding-top: 108px;
       
    //     span{
    //         font-size: 160px;
    //         display: block;
    //         font-family: 'Pacifico';
    //         color: #FFB5A6;
    //         transform: translate(140px,30px);
    //         // @media(max-width:1440px) {
    //         //     font-size: 120px;
    //         //     // transform: translate(120px,15px);

    //         // }
    //         // @media(max-width:992px) {
    //         //     font-size: 60px;
    //         //     // transform: translate(60px,0px);
                
    //         // }
    //     }
    //     font-size: 72px;
    //     font-family: 'Fredericka the Great';
    //     transform: translate(140px,30px);
    //     // @media(max-width:1440px) {
    //     //     font-size: 60px;
            
            
    //     // }
    //     // @media(max-width:992px) {
    //     //     font-size: 36px;
    //     //     transform: translate(130px,15px);
            
    //     // }
    // }
    // }
    // .container{
    //    text-align: left;
    //    padding: 1rem;
    //    margin-left: 30%;
    //    margin-right: 15%;
    //    position: initial;
    //     input{         
    //         padding: 1em;
    //         font-size: 15px;
    //         color: black;
    //         background: white;
    //         height: auto;
    //         min-height: auto;
    //         line-height: initial;
    //     }
    //     label{
           
    //     padding: 1rem;
    //     font-family: "Fredericka the Great";
    //     cursor: pointer;
    //     font-size: 40px;
    //      color: #f27257;
    //      transition: ease  0.25s all ;
    //     }
    //     .input{
    //         width:50%;
        
    //     }
    //     .button{
    //         margin-top: 20px;
    //         margin-bottom: 10px;
    //         margin-right: 10px;
    //         margin-left: 0px;
    //         font-size: 20px;
        
    //     }
        
    // }
    //BEGIN BZ00017
    .errorText{
        color: red;
        font-size: 18px;
    }
    //END BZ00017
    @media only screen and (min-width: 320px) {
        width: 320px;
        // overflow-y:hidden;
        padding-bottom: 0px;
        margin: 0px;
        padding: 0px;
        .homeSignUpForBorder{
            display: grid;
            grid-template-rows: 1fr  1fr;
            padding: 0px;
            .titleHolder{
                width: 320px;
                margin: 0px;
                padding: 0px;
                padding-bottom:0px;
                display: grid;
                grid-template-rows: 1fr  1fr;
                text-align: center;
                h2{
                    width: 320px;
                    font-size: 20px;
                    margin: 0px;
                }
                span{
                    font-size: 50px;
                    font-family: 'Pacifico';
                    transform: translate(40px,30px);
                }
            }
        .container{
            text-align: left;
            padding: 1rem;
            position: initial;
            .containerForm{
                padding: 0.5em;
                display: grid;
                grid-template-rows: 1fr 1fr;
                .containerFormEmail{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    input{         
                        font-size: 15px;
                        height: auto;
                        min-height: auto;
                        height: 3em;
                        overflow: hidden;
                        border-radius: .25em;
                        
                        }
                        label{
                        padding-top: 1rem;
                        font-family: "Fredericka the Great";
                        cursor: pointer;
                        font-size: 15px;
                        color: #f27257;
                        transition: ease  0.25s all ;
                        }
                }
            }
            .containerFormButton{
                height: 6em;
                padding: 1em;
                text-align: center;
            }
            }

        }
        .footer{
            height: 50px;
            min-height: fit-content;
        }
        

    }
    @media only screen and (min-width: 480px) {
        width: 480px;
        height: 100%;
        // overflow-y:hidden;
        padding-bottom: 0px;
        margin: 0px;
        padding: 0px;
        .homeSignUpForBorder{
            padding: 0px;
            .titleHolder{
                width: 480px;
                margin: 0px;
                padding: 0px;
                padding-bottom:0px;
                display: grid;
                grid-template-rows: 1fr  1fr;
                text-align: center;
                h2{
                    width: 480px;
                    font-size: 22px;
                    margin: 0px;
                }
                span{
                    font-size: 52px;
                    font-family: 'Pacifico';
                    transform: translate(60px,30px);
                }
            }
        }
        .container{
            text-align: left;
            padding: 1rem;
            position: initial;
            .containerForm{
                padding: 0.5em;
                display: grid;
                grid-template-rows: 1fr 1fr;
                .containerFormEmail{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    input{         
                        font-size: 17px;
                        height: auto;
                        min-height: auto;
                        height: 3.2em;
                        overflow: hidden;
                        border-radius: .25em;
                        
                        }
                        label{
                        padding-top: 1.2rem;
                        padding-bottom: 1.2rem;
                        font-family: "Fredericka the Great";
                        font-size: 17px;
                        transition: ease  0.25s all ;
                        }
                }
            }
            .containerFormButton{
                height: 6em;
                padding: 1em;
                text-align: center;
            }

        }
        .footer{
            height: 300px;
            min-height: fit-content;
        }


    }
    @media only screen and (min-width: 600px) {
        width: 600px;
        .homeSignUpForBorder{
            padding: 0px;
            .titleHolder{
                width: 600px;
                h2{
                    width: 600px;
                    font-size: 28px;
                }
                span{
                    font-size: 58px;
                    font-family: 'Pacifico';
                    transform: translate(80px,30px);
                }
            }
        }
        .container{
            padding: 1rem;
            .containerForm{
                padding: 0.5em;
                .containerFormEmail{
                    input{         
                        font-size: 23px;
                        height: 3.8em;
                        border-radius: .31em;
                        
                        }
                        label{
                        padding-top: 1.6rem;
                        padding-bottom: 1.6rem;
                        font-family: "Fredericka the Great";
                        font-size: 23px;
                        transition: ease  0.25s all ;
                        }
                }
            }

        }
       

    }
    @media only screen and (min-width: 768px) {
        width: 768px;
        .homeSignUpForBorder{
            padding: 0px;
            .titleHolder{
                width: 768px;
                h2{
                    width: 768px;
                    font-size: 32px;
                }
                span{
                    font-size: 62px;
                    font-family: 'Pacifico';
                    transform: translate(0px,0px);
                }
            }
        }
        .container{
            padding: 1rem;
            .containerForm{
                padding: 0.5em;
                .containerFormEmail{
                    input{         
                        font-size: 26px;
                        height: 3.8em;
                        border-radius: .31em;
                        
                        }
                        label{
                        padding-top: 1.6rem;
                        padding-bottom: 1.6rem;
                        font-family: "Fredericka the Great";
                        font-size: 26px;
                        transition: ease  0.25s all ;
                        }
                }
            }

        }
    }
    @media only screen and (min-width: 800px) {
        width: 800px;
        .homeSignUpForBorder{
            padding: 0px;
            .titleHolder{
                width: 800px;
                h2{
                    width: 800px;
                    font-size: 36px;
                }
                span{
                    font-size: 64px;
                    font-family: 'Pacifico';
                    transform: translate(0px,0px);
                }
            }
        }
        .container{
            padding: 1rem;
            margin-left: 15%;
            margin-right: 15%;
            .containerForm{
                padding: 0.5em;
                .containerFormEmail{
                    input{         
                        font-size: 28px;
                        height: 3.9em;
                        border-radius: .32em;
                        
                        }
                        label{
                        padding-top: 1.6rem;
                        padding-bottom: 1.6rem;
                        font-family: "Fredericka the Great";
                        font-size: 28px;
                        transition: ease  0.25s all ;
                        }
                }
            }

        }
    }
    @media only screen and (min-width: 1024px) {
        width: 1024px;
        .homeSignUpForBorder{
            padding: 0px;
            .titleHolder{
                width: 1024px;
                h2{
                    width: 1024px;
                    font-size: 36px;
                }
                span{
                    font-size: 64px;
                    font-family: 'Pacifico';
                    transform: translate(0px,0px);
                }
            }
        }
        .container{
            padding: 1rem;
            margin-left: 25%;
            margin-right: 25%;
            .containerForm{
                padding: 0.5em;
                .containerFormEmail{
                    input{         
                        font-size: 28px;
                        height: 3.9em;
                        border-radius: .32em;
                        
                        }
                        label{
                        padding-top: 1.6rem;
                        padding-bottom: 1.6rem;
                        font-family: "Fredericka the Great";
                        font-size: 28px;
                        transition: ease  0.25s all ;
                        }
                }
            }

        }
    }
    @media only screen and (max-width: 2048px) {
        width: 100%;
        .homeSignUpForBorder{
            padding: 0px;
            .titleHolder{
                width: 100%;
                h2{
                    width: 100%;
                    font-size: 36px;
                }
                span{
                    font-size: 64px;
                    font-family: 'Pacifico';
                    transform: translate(0px,0px);
                }
            }
        }
        .container{
            padding: 1rem;
            .containerForm{
                padding: 0.5em;
                padding: 1rem;
                // margin-left: 25%;
                // margin-right: 15%;
                position: initial;
                .containerFormEmail{
                    input{         
                        font-size: 28px;
                        height: 3.9em;
                        border-radius: .32em;
                        
                        }
                        label{
                        padding-top: 1.6rem;
                        padding-bottom: 1.6rem;
                        font-family: "Fredericka the Great";
                        font-size: 28px;
                        transition: ease  0.25s all ;
                        }
                }
            }

        }
    }    
    
}